<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>SaladBoard</title>
</head>
<body>
This is home page.

<hr>

<tr th:each="post:${allPosts}" th:object="${post}">
    <td>body :</td>
    <td th:text="*{body}"></td>
    <br>
    <td>user_id :</td>
    <td th:text="*{userId}"></td>
    <br>
    <td>posted_at :</td>
    <td th:text="*{postedAt}"></td>
    <br>
    <hr>
</tr>

</body>
</html>
